<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARjzJkpkiOfbDcB5kF30SyIqc0Fen4mSM</string>
	<key>GCM_SENDER_ID</key>
	<string>438066123395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.matzil.sar</string>
	<key>PROJECT_ID</key>
	<string>matzil-sar</string>
	<key>STORAGE_BUCKET</key>
	<string>matzil-sar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438066123395:ios:929a51bb1e3ad973bc41b6</string>
</dict>
</plist>